Repository hef/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes

fixing kubernetes directory
  .github/workflows/flux-diff.yaml
Labels: area/github

removing non functioning configure script
  configure.sh
Labels: none

adding descheduler
  cluster/core/kube-system/descheduler/helm-release.yaml
  cluster/core/kube-system/descheduler/kustomization.yaml
  cluster/core/kube-system/kustomization.yaml
Labels: area/kubernetes

adding deschuler repo
  cluster/base/flux-system/charts/helm/descheduler-charts.yaml
  cluster/base/flux-system/charts/helm/descheduler.yaml
  cluster/base/flux-system/charts/helm/kustomization.yaml
Labels: area/kubernetes

adding cloudnative helm repo
  cluster/base/flux-system/charts/helm/cloudnative-pg.yaml
  cluster/base/flux-system/charts/helm/kustomization.yaml
Labels: area/kubernetes

stealing a bunch of cluster stuff
  cluster/base/flux-system/charts/helm/hajimari-charts.yaml
  cluster/base/flux-system/charts/helm/hajimari.yaml
  cluster/base/flux-system/charts/helm/kustomization.yaml
  cluster/base/flux-system/charts/helm/node-feature-discovery-charts.yaml
  cluster/base/flux-system/charts/helm/node-feature-discovery.yaml
  cluster/core/kube-system/kustomization.yaml
  cluster/core/kube-system/node-feature-discovery/helm-release.yaml
  cluster/core/kube-system/node-feature-discovery/kustomization.yaml
Labels: area/kubernetes

fixing hajimari charts
  cluster/base/flux-system/charts/helm/kustomization.yaml
Labels: area/kubernetes

adding hajimari back in
  cluster/apps/default/hajimari/config-pvc.yaml
  cluster/apps/default/hajimari/helm-release.yaml
Labels: area/kubernetes

fixing reference to missing resource in hajimari
  cluster/apps/default/hajimari/kustomization.yaml
Labels: area/kubernetes

fixing hajimari ingress class name
  cluster/apps/default/hajimari/helm-release.yaml
Labels: area/kubernetes

configure hajimari
  cluster/apps/default/hajimari/helm-release.yaml
Labels: area/kubernetes

adjusting hajimari themes
  cluster/apps/default/hajimari/helm-release.yaml
Labels: area/kubernetes

disable hajimari greeting
  cluster/apps/default/hajimari/helm-release.yaml
Labels: area/kubernetes

making namespace selector blank
  cluster/apps/default/hajimari/helm-release.yaml
Labels: area/kubernetes

trying a clever expression to get around namespace matching rules
  cluster/apps/default/hajimari/helm-release.yaml
Labels: area/kubernetes

giving up on being clever for now
  cluster/apps/default/hajimari/helm-release.yaml
Labels: area/kubernetes

reducing what hajimari shows
  cluster/apps/default/hajimari/helm-release.yaml
Labels: area/kubernetes

adding longhorn
  cluster/apps/default/hajimari/helm-release.yaml
  cluster/core/kustomization.yaml
  cluster/core/longhorn/helm-release.yaml
  cluster/core/longhorn/kustomization.yaml
  cluster/core/longhorn/namespace.yaml
  cluster/core/longhorn/secret.sops.yaml
Labels: area/kubernetes

adding longhorn charts
  cluster/base/flux-system/charts/helm/kustomization.yaml
  cluster/base/flux-system/charts/helm/longhorn.yaml
  cluster/lab/sources/kustomization.yaml
Labels: area/kubernetes

fixing longhorn charts reference in longhorn release
  cluster/core/longhorn/helm-release.yaml
Labels: area/kubernetes

setting ingressclass for longhorn
  cluster/core/longhorn/helm-release.yaml
Labels: area/kubernetes

enable tls on longhorn
  cluster/core/longhorn/helm-release.yaml
Labels: area/kubernetes

cloudnative-pg
  cluster/core/database/cloudnative-pg/helm-release.yaml
  cluster/core/database/cloudnative-pg/kustomization.yaml
  cluster/core/database/kustomization.yaml
  cluster/core/database/namespace.yaml
  cluster/core/kustomization.yaml
  cluster/core/networking/kustomization.yaml
Labels: area/kubernetes

cloudnative stuff
  cluster/apps/kustomization.yaml
Labels: area/kubernetes

fixing bad kustomize refernce
  cluster/core/networking/kustomization.yaml
Labels: area/kubernetes

removing extra database reference
  cluster/apps/kustomization.yaml
Labels: area/kubernetes

adding a pg cluster
  .idea/kubernetes-settings.xml
  cluster/apps/database/cluster.yaml
  cluster/apps/database/kustomization.yaml
  cluster/apps/database/secret.sops.yaml
  cluster/apps/kustomization.yaml
  cluster/base/cluster-secrets.sops.yaml
Labels: area/kubernetes

fixing pg-cluster secrets
  cluster/apps/database/secret.sops.yaml
Labels: area/kubernetes

adding a superuser secret with the correct type
  cluster/apps/database/cluster.yaml
  cluster/apps/database/secret.sops.yaml
Labels: area/kubernetes

adding a scheduled backup
  cluster/apps/database/kustomization.yaml
  cluster/apps/database/scheduled-backup.yaml
Labels: area/kubernetes

removing bakcup restore
  cluster/apps/database/cluster.yaml
Labels: area/kubernetes

not restoring from backup for initial db
  cluster/apps/database/cluster.yaml
Labels: area/kubernetes

changing storageclass to longhorn
  cluster/apps/database/cluster.yaml
Labels: area/kubernetes

rolling r2 secret
  cluster/apps/database/secret.sops.yaml
Labels: area/kubernetes

marking secret as reload
  cluster/apps/database/secret.sops.yaml
Labels: area/kubernetes

fixing username in secret
  cluster/apps/database/secret.sops.yaml
Labels: area/kubernetes

reconfiguring db to use local-path provisioner
  cluster/apps/database/cluster.yaml
Labels: area/kubernetes

creating fresh db again
  .taskfiles/lab.yml
  cluster/apps/database/cluster.yaml
  provision/ansible/playbooks/local-path-nuke.yml
Labels: area/kubernetes

adjsuting db names
  cluster/apps/database/cluster.yaml
Labels: area/kubernetes

fixing references in cluster def
  cluster/apps/database/cluster.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "cluster/**/*"
